.header{
      display: flex;
      border-bottom: 1px solid #ddd;
      background-color: #fff;
      &__logo{
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #ddd;
            transition: all 0.2s;
            &--collapse{
                  width: 80px;
            }
      }
      &__nav{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            &-left{
                  display: flex;
                  align-items: center;
                  font-size: 20px;
            }
      }
      &__collapse{
            margin-right: 20px;
            cursor: pointer;
      }
}
.content{
      padding: 20px;
}